html {
    font-family: 'Inter' !important;
}

.image-label {
    border: black solid 1px;
    border-radius: 5px;
    padding: 5px;
    color: white;
    background-color: black;
}

.image-label:hover {
    background-color: grey;
}

.image-input {
    display: none;
}

.preview-container {
    width: 910px;
    height: 610px;
    border: black solid 1px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden-canvas {
    display: none;
}

.dimensions-container {
    display: none;
    flex-direction: row;
    align-items: center;
}

.dimensions-item {
    margin-left: 10px;
}

.dimensions-input {
    margin-left: 5px;
}

.result-canvas {
    image-rendering: pixelated;
    width: 500px;
    height: auto;
    margin-bottom: 50px;
}

.toolbar-container {
    width: 910px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main-container {
    display: flex;
    flex-direction: row;
}

.right-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 610px;
    width: 910px;
}

.left-container {
    display: flex;
    flex-direction: column;
}

.colors-container {
    margin-top: 20px;
    display: none;
    flex-direction: column;
}

.colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 910px;
}

.color-toolbar {
    display: flex;
    align-items: center;
}

.color-toolbar-item {
    margin-left: 10px;
    margin-right: 10px;
}

.color {
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.delete {
    color: red;
    margin-left: 5px;
}

.box {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}